{% extends 'base.html.twig' %}

{% block title %}Support Cash Converters - User NewTicket{% endblock %}

{% block body %}
        <div class="card card_ticket">
            <div class="card-header">
                <h3>Création Ticket</h3>
            </div>
            <div class="card-body">
                <a href="{{ path('user.index') }}" class="btn btn-outline-dark" role="button"><i class="fas fa-undo"> Retour à la liste des Tickets </i> </a>
                <br>
                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                    {{ form_row(form.Mag) }}
                    {{ form_widget(form) }}

                    {# On ajoute un champ caché dans le formulaire pour transmettre tempId au backend lors de la création du ticket #}
                    <input type="hidden" name="temp_id" id="temp_id" value="">

                    {# When we click on "Valider" button it calls createTicket() method of UserController  #}
                    <button type="submit" role="button" class="btn display-1 btn_style_retour button_space"> 
                        <i class="fas fa-plus"> Valider </i>
                    </button>
                {{form_end(form)}}
            </div>
        </div>
    <br>

{% endblock %}

{% block javascripts %}
    {{ parent() }} {# Imports javascript block from parent template (base.html.twig) #}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <script>
        $(document).ready(function() {
            $('#ticket_Categorie').on('change', function() {
                let selectedText = $('#ticket_Categorie option:selected').text();

                switch(selectedText) 
                {
                    case "Autres":
                        problem = ""
                        break;
                    case "Box internet":
                        problem = "Panne internet"
                        break;
                    case "Carte Fidélité":
                        problem = "Ajout point ou activation carte"
                        break;
                    case "CashSoft":
                        problem = "Problème"
                        break;
                    case "Compte utilisateur":
                        problem = "Création ou modification du compte"
                        break;
                    case "Matériel informatique":
                        problem = "Panne matériel informatique"
                        break;
                    case "Site internet":
                        problem = "Extranet ou Revendre"
                        break;
                    default:
                        problem = "";
                }
                
                $('#ticket_Titre').val(problem);

               
            });
        });
    </script>
{% endblock %}
