{% extends 'base.html.twig' %}

{% block title %}Support Cash Converters - User TicketView
{% endblock %}

{% block body %}

	<div class="card card_ticket">
		<div class="card-header">
			<h3>Ticket n°
				{{ ticket.id }}
				{% if ticket.status == "En Attente d'Assignation" %}
					<span class="badge badge-pill badge-danger">
						{{ ticket.status}}
					</span>
				{% elseif ticket.status == 'En Traitement' %}
					<span class="badge badge-pill badge-warning">
						{{ ticket.status}}
						par
						{{ ticket.admin }}</span>
				{% elseif ticket.status == 'Résolu' %}
					<span class="badge badge-pill badge-success">
						{{ ticket.status}}
						par
						{{ ticket.admin }}</span>
				{% elseif ticket.status == 'Clos' %}
					<span class="badge badge-pill badge-dark">
						{{ ticket.status}}
						par
						{{ ticket.admin }}</span>
				{% endif %}
			</h3>

		</div>
		<div class="card-body">
			<div class="col-md-12 offset-md-12">
				<a href="{{ path('user.index') }}" class="btn btn-outline-dark">
					<i class="fas fa-undo">
						Retour à la liste du Tickets</i>
				</a>
			</div>

			<h5>{{ ticket.titre }}
			</h5>

			<form_ticket>
				<fieldset disabled>
					<div class="form-group">

						<label for="disabledTextInput">Magasin</label>
						<input type="text" id="disabledTextInput" class="form-control" placeholder="{{ ticket.user.nom }}">

						<label for="disabledTextInput">Auteur</label>
						<input type="text" id="disabledTextInput" class="form-control" placeholder="{{ ticket.nom }} {{ ticket.prenom }}">

						<label for="disabledSelect">Catégorie</label>
						<select id="disabledSelect" class="form-control">
							<option>{{ ticket.categorie.nom }}</option>
						</select>

						{% if ticket.Admin is not empty %}
							<label for="disabledTextInput">Admin</label>
							<input type="text" id="disabledTextInput" class="form-control" placeholder="{{ ticket.Admin.nom }}">
						{% endif %}

						{% if ticket.IdTeamVw is not empty %}
							<label for="disabledTextInput">TeamViewer</label>
							<input type="text" id="disabledTextInput" class="form-control" placeholder="{{ ticket.IdTeamVw }}">
						{% endif %}

					</div>

				</fieldset>
				<!--<label for="disabledTextInput">Dernier Message</label>
				                    <input type="text" id="disabledTextInput" class="form-control" placeholder="{#ticket.message#}"> -->
				<h5>Messages</h5>
				<div class="row px-lg-2 px-2">
					<div class="col-md-12 col-xl-12 pl-md-12 px-lg-auto px-0"> 
						<div class="chat-message">
							<ul class="list-unstyled chat">
								{% if messages is empty %}
									<p>Ce ticket ne comptient aucun message.</p>
								{% else %}
									{% for message in messages %}
										{% if message.User.id == app.user.id %}
											<li class="mb-5 color_msg_support">
										{% else %}
											<li class="mb-5 color_msg_user">
										{% endif %}
												<div class="chat-body white p-3 ml-2 z-depth-1">
													<div class="header">
														<small class="pull-right text-muted">
															<i class="far fa-clock"></i>
															{{ message.DateRegister.format('d-m-Y à H:i:s') }}
														</small>
														<strong class="primary-font">{{ message.User }}</strong>
													</div>
													<hr class="w-100">
													<p class="d-flex flex-row-reverse mb-0">
														{% set content = message.Message %}

														{# We created a Twig extension: src/Twig/TextFileExtractorExtension.php and the function extractTextAndFiles() is inside it. #}
														{% set text_filenames = extract_text_and_files(content) %}

														{% for filename in text_filenames %}
															{% if filename[-3:] == "csv" %}
																{# We created a Twig extension: src/Twig/CsvExtension.php and the function read_csv() is inside it.   #}
																{% set csv_data = read_csv('uploads/' ~ filename) %}
																<table class="csv-table">
																	{% for row in csv_data %}
																		{% if loop.first %}
																			<thead>
																				<tr>
																					{% for cell in row %}
																						<th>{{ cell }}</th>
																					{% endfor %}
																				</tr>
																			</thead>
																			<tbody>
																		{% elseif loop.index <= 6 %}
																			<tr>
																				{% for cell in row %}
																					<td>{{ cell }}</td>
																				{% endfor %}
																			</tr>
																		{% elseif loop.index <= 9 %}
																			<tr>
																				{% for cell in row %}
																					<td>-</td>
																				{% endfor %}
																			</tr>
																		{% endif %}
																	{% endfor %}
																</table>
																<a title="{{ filename }}" href="{{ asset('uploads/' ~ filename) }}" class="d-block mt-2 mb-5">
																	<button class="btn btn-primary">Télécharger le fichier CSV</button>
																</a>
															{% elseif filename[-3:] == "pdf" %}
																<iframe src="{{ asset('uploads/' ~ filename) }}" width="80%" height="600px" style="margin:20px 20px"></iframe>
															{% elseif filename[-3:] == "txt" %}
																{# We created a Twig extension: src/Twig/TxtExtension.php and the function read_file() is inside it.   #}
																{% set lines = read_file('public/uploads/' ~ filename)|split('\n') %}
																<div class="txt-frame">
																	<a title="{{ filename }}" href="{{ asset('uploads/' ~ filename) }}" class="d-block mt-2 mb-5">
																		<button class="btn btn-primary">Télécharger le fichier Text</button>
																	</a>
																	{% for line in lines %}
																		<p>{{ line }}</p>
																	{% endfor %}
																</div>
															{% elseif filename[-3:] in ['jpg', 'png'] or filename[-4:] == 'jpeg' %}
																<div>
																	<img src="{{ asset('uploads/' ~ filename) }}" alt="card-img-bottom" height="600px" width="600px" style="margin: 20px 20px">
																</div>
															{% else %}
																<p>{{ filename }}</p>
															{% endif %}
														{% endfor %}
													</p>
												</div>
											</li>
									{% endfor %}
								{% endif %}

								<li
									class="white">
									{# When we click on "Envoyer" button it calls show() method of UserController #}
									{% if ticket.DateClosed is empty %}
										{{ form_start(form_message) }}
										{{ form_widget(form_message) }}

										{# On ajoute un champ caché dans le formulaire pour transmettre tempId au backend lors de la création du ticket #}
                						<input type="hidden" name="temp_id" id="temp_id" value="">

										{# When we click on "Envoyer" button it calls show() method of UserController  #}
										<button type="submit" role="button" class="btn btn-info btn-rounded btn-sm waves-effect waves-light float-right">
											<i class="fas fa-paper-plane"> Envoyer </i>
										</button>
										{{ form_end(form_message) }}
									{% endif %}
								</li>
							</ul>
						</div>
					</div>
				</div>
			</form_ticket>
		</div>
	</div>
	<br>
{% endblock %}

{% block javascripts %}
    {{ parent() }} {# Imports javascript block from parent template (base.html.twig) #}
{% endblock %}
